


.info .btn {
  background-color: #4CAF50;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  width: 200px;
  cursor: pointer;
  padding: 14px 19px 14px 19px;
}

[cardContent] {
  display: flex;
  flex-direction: row;
  padding: 24px;
  height: 200px;
  width: 700px;

  border-top: 3px solid #3D6BE4;
  border-radius: 5px;

 

  position: relative;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;

}

.expandable-card--title {
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 8px;
}

.expandable-card--sub-title {
  font-size: 14px;
  display: flex;
  color: #666666;
  max-width: 10%;
  min-height: 5rem;
  
}
.info {
  justify-content: space-between;
  padding-left: 11px;
  display: flex;
  flex-direction: row;
}

.info .buttons {
  margin-left: 100px ;
  position: absolute;
  top: 50%;
  left: 50%

} 

img {
  margin-bottom: 100px;
}





